# console
DATABASE_URL="postgres://user:password@host:port/db" # required!!
SECRET_KEY="secret-key-for-django" # required!!
CSRF_TRUSTED_ORIGIN="https://mechanicaldinosaurs.net" # required!!
ALLOWED_HOST="mechanicaldinosaurs.net" # required!!
AUTOMATION_ENGINE_URL="http://<host>:3833" # optional: if you want to use automations
AUTOMATION_ENGINE_SECRET="<secret>" # optional: if you want to use automations
PROXY_HOSTPORT="localhost:3831"
PROXY_DISCONNECT_HOST="localhost" # optional: if you want to use vm proxy from the console
PROXY_DISCONNECT_PORT="3832" # optional: if you want to use vm proxy from the console
PROXY_DISCONNECT_SECRET="<secret: use 128 utf-8 encoded hex characters (64 random bytes)>" # optional: if you want to use vm proxy from the console
CLOUDFLARE_API_TOKEN="cfxx_xxxxxxxxxxx" # optional: for network exposure page
CLOUDFLARE_ACCOUNT_ID="xxxxxxxxxxxxxxx" # optional: for network exposure page

# vm proxy
PORT="3831" # required!!
DISCONNECT_PORT="3832" # required!!
DISCONNECT_SECRET="<secret: use 128 utf-8 encoded hex characters (64 random bytes)>" # required!!
DATABASE_URL="postgres://user:password@host:port/db" # required!!

# automation engine
AUTOMATION_ENGINE_PORT="3833" # required!!
AUTOMATION_ENGINE_SECRET="<secret>" # required!!
RESEND_API_KEY="re_xxxxx_xxxxx" # optional: if you want to use the email action
EMAIL_DOMAIN="domain.net" # optional: if you want to use the email action
DATABASE_URL="postgres://user:password@host:port/db" # required!!
SLACK_BOT_TOKEN="xoxb-xxxxxxxxxx-xxxxxxxxxxxxxx-xxxxxxxxxxxxxxxxxxxxxxxx" # optional: if you want to use the slack action 

# daemon
MECHANICAL_DINOSAURS_DATA="/full/path/to/data/folder" # required!! this folder does not need to exist
API_SECRET="secret for the daemon" # required!!
PORT="6337" # required!!