html, body {
    background-color: #fff8e8;
}
button {
    background-color: #f0c040;
    border: 0px;
    cursor: pointer;
    transition: box-shadow 0.2s ease-in-out;
    border-radius: 4px;
}
button:hover {
    /* this box shadow is going to look so ai 😭 */
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s ease-in-out;
}
.error-flash {
    background-color: #ffcfcc;
    color: #ff0000;
    padding: 6px 12px;
    border-radius: 5px;
    border: 2px solid #ff0000;
}
.status-indicator {
    display: inline-block;
    width: 0.8rem;
    height: 0.8rem;
}

.status-running {
    background-color: green;
}

.status-stopped {
    background-color: red;
}