/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --primary-color: #86480a;
    --secondary-color: #f5e4ba;
    --danger-color: #9c160c;
    --md-green: #06601e;
    --md-red: var(--danger-color);
    --md-blue: #081c9e;
    --md-gray: #595959;
}

html, body {
    font-family: 'Merriweather', serif;
    font-weight: 200;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Comic Sans MS', serif;
    font-weight: 700;
}

b {
    font-weight: 700;
}

button {
    background-color: var(--primary-color);
    color: white;
    border: 0px;
    cursor: pointer;
    padding: 6px 12px;
}
.error-flash {
    background-color: #ffcfcc;
    color: var(--danger-color);
    padding: 6px 12px;
    border: 2px solid var(--danger-color);
    margin-top: 10px;
    margin-bottom: 10px;
}
.status-indicator {
    padding: 0.4em;
}

.status-running, .status-Running, .status-healthy, .status-reachable {
    background-color: var(--md-green);
}

.status-Succeeded {
    background-color: var(--md-blue);
}

.status-stopped, .status-exited {
    background-color: var(--md-gray);
}

.status-critical, .status-unreachable {
    background-color: var(--danger-color);
}
.button-dangerous {
    background-color: var(--danger-color) !important;
}